/*  your css code here. If applicable */
.testimonials{
	padding:15px;
	background-color: #f5f5f5;
}
.auth{
	text-align:right;
	font-style:italic;
}
.test{
	border:1px solid #ccc;
	background-color:white;
	padding:20px;
	margin-bottom:20px;
	
}