/*  your css code here. If applicable */
.main-container{
	padding:15px;
	background-color: #f5f5f5;
}
.testimonial{
	padding:20px;
	border:1px solid #ccc;
	background-color:white;
}
.author{
	text-align:right;
	font-style:italic;
}